@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	font-family: 'Noto Sans JP', sans-serif;
	background-color: #e2e2e2ff;
}

.main-hr {
	border: none;
	height: 1px;
	background-color: #383838ff;
}

/*コンテナ*/
.main-container {
	width: 50%;
}

@media (max-width: 1280px) {
	.main-container {
		width: 70%;
	}
}

@media (max-width: 1024px) {
	.main-container {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.main-container {
		width: 90%;
	}
}

/*リンク*/
.link-main {
	display: flex;
	position: relative;
	background-color: white;
	border: var(--main-text-color) solid 1.5px;
	color: var(--title-bg-color);
	transition: 0.5s;
	text-decoration: none;
	border-radius: 50px;
	padding: 10px 15px;
	width: fit-content;
	text-transform: uppercase;
	vertical-align: middle;
	align-items: center;
	cursor: pointer;
	@apply text-center;
}

.link-main span,
.link-main i {
	font-size: 1rem;
}

/* .link-main-underline: 下線アニメーション用 */
.link-main-underline {
	position: relative;
	display: inline-block;
	@apply mx-auto;
}

.link-main-underline::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -2px;
	width: 0; /* 初期状態は幅0 */
	height: 1px;
	background: var(--main-text-color);
	transition: 0.3s;
}

/* 親aタグのホバーで下線を表示 */
.link-main:hover .link-main-underline::after {
	width: 95%;
	text-align: center;
	align-items: center;
}

@media (max-width: 1280px) {
	.link-main {
		padding: 8px 12px;
	}

	.link-main span,
	.link-main i {
		font-size: 0.9rem;
	}
}

@media (max-width: 768px) {
	.link-main {
		padding: 6px 10px;
	}

	.link-main span,
	.link-main i {
		font-size: 0.8rem;
	}
}

.link-content{
    display: flex;
}